extends layout

block content
	.container-fluid
		.jumbotron
			.container
				.jumbo-title
					h1 Learn the language you want!
				.jumbo-btn
					button(href="", class="btn btn-lg btn-danger") Sign Up
					button(href="", class="btn btn-lg btn-primary") Log In
	.main-page-img
		img(src="/img/Kinkaku.jpg", alt="Kinkaku-ji, Japan")