doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Lingo for da Japanese
		link(rel="stylesheet", href="/styles/main.css")
		link(rel="stylesheet", href="/vendor/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/bootstrap-theme.min.css")


	body
		nav.navbar.navbar-custom.navbar-static-top#navbar
			.navbar-header
				a(href="/").navbar-brand Lingo
			.navbar-collapse.collapse
				.navbar-padding
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/") Home
						li
							a(href="/translate") Translate
						li
							a(href="/quiz") Quiz
						li
							a(href="/progress") Progress
		block content
		script(src="/js/main.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="/vendor/bootstrap.min.js")
		