doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Lingo for da Japanese
		link(rel="stylesheet", href="/vendor/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/bootstrap-theme.min.css")
		link(rel="stylesheet", href="/styles/main.css")


	body
		nav.navbar.navbar-custom.navbar-static-top#navbar
			.navbar-header
				a(href="/").navbar-brand Lingo
			.navbar-collapse.collapse
				.navbar-padding
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/") Home
						li
							a(href="/translate") Translate
						li
							a(href="/quiz") Quiz
						li
							a(href="/progress") Progress
						li.nav-divider
							div
						if(user !== undefined)
							li
								a.nav-username() <strong>#{user.username}</strong>
						li
							if( user !== undefined )
								a(href="/auth/logout") Log Out
							else
								a(data-toggle="modal", data-target="#logInModal") Log In
								

		block content

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="/js/main.js")
		script(src="/vendor/bootstrap.min.js")
		