extends layout

block content
	.container
		.col-sm-12
			.quiz-title
				h1 Quizzes
		.col-sm-6
			h1 Quiz!
		.col-sm-6
			h2 Progress
			p super awesome
			p failed none
			p Your worst words are none