extends layout

block content
	.container
		h1 Translate!
		form#translation(action="/getTranslation" method="post")
			.row
				.col-sm-6
					.form-group
						.btn-group
							select.btn.btn-default(name="from")
								for language in languages
									option(value="#{language.code}") #{language.name}
					.form-group
						textarea.form-control(name="text", cols="30", rows="10")
				.col-sm-6
					.form-group
						.btn-group
							select.btn.btn-default(name="to")
								for language in languages
									option(value="#{language.code}") #{language.name}
					.form-group
						textarea.form-control.translated-text(cols="30", rows="10")
			.row
				.col-sm-6
					.form-btns
						button.btn.btn-primary(type="submit") Submit
						button.btn.btn-danger#add-set Add word to quiz


