@font-face {
	font-family: 'wisdom-script';
	src: url('/fonts/Wisdom_Script.otf') format(opentype);
	font-weight: normal;
	font-style: normal;
}

img {
	max-width: 100%;
}

.main-page-img {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}

.navbar-brand {
	font-family: 'wisdom-script', 'HelveticaNeue-Light', sans-serif;
	letter-spacing: 1.5px;
	margin-left: 100px;
	font-size: 2em !important; 
}

#navbar.navbar-custom {
	background-color: rgba(256, 256, 256, 0.6);
	border-bottom: solid 1px #AAA;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.2);
}

.navbar-padding {
	padding-right: 100px;
}

div.jumbotron {
	position: relative;
	width: 33%;
	top: 150px;
	border-radius: 5px;
	background-color: rgba(256, 256, 256, 0.6);
}
div.jumbotron h1 {
	margin-top: 0;
}
.jumbo-title {
	border-bottom: dashed 1px #555;
	margin-bottom: 20px;
}
.jumbo-btn button {
	margin-right: 20px;
}